<% var item, key %><%
htmlWebpackPlugin.options.lang = htmlWebpackPlugin.options.lang || "en" %><%
htmlWebpackPlugin.options.left_links = htmlWebpackPlugin.options.left_links || [] %><%
htmlWebpackPlugin.options.meta = htmlWebpackPlugin.options.meta || [] %><!DOCTYPE html>
<html lang="<%= htmlWebpackPlugin.options.lang %>">
<head>
    <title>Sitenav</title>
    <!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 11]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content=""/>
    <meta name="author" content="dubuqingfeng"/>
    <!-- Favicon icon -->
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
</head>

<body>
    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <!-- [ Pre-loader ] End -->
    <!-- [ navigation menu ] start -->
    <nav class="pcoded-navbar">
        <div class="navbar-wrapper">
            <div class="navbar-brand header-logo">
                <a href="index.html" class="b-brand">
                    <span class="b-title">网址导航</span>
                </a>
                <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
            </div>
            <div class="navbar-content scroll-div">
                <ul class="nav pcoded-inner-navbar">
                    <li class="nav-item pcoded-menu-caption">
                        <label>Navigation</label>
                    </li>
                    <li data-username="dashboard" class="nav-item active">
                        <a href="index.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- [ navigation menu ] end -->

    <!-- [ Header ] start -->
    <header class="navbar pcoded-header navbar-expand-lg navbar-light">
        <div class="m-header">
            <a class="mobile-menu" id="mobile-collapse1" href="javascript:"><span></span></a>
            <a href="index.html" class="b-brand">
                   <div class="b-bg">
                       <i class="feather icon-trending-up"></i>
                   </div>
                   <span class="b-title">Datta Able</span>
               </a>
        </div>
        <a class="mobile-menu" id="mobile-header" href="javascript:">
            <i class="feather icon-more-horizontal"></i>
        </a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li><a href="javascript:" class="full-screen" onclick="javascript:toggleFullScreen()"><i class="feather icon-maximize"></i></a></li>
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle" href="javascript:" data-toggle="dropdown">Dropdown</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="javascript:">Action</a></li>
                        <li><a class="dropdown-item" href="javascript:">Another action</a></li>
                        <li><a class="dropdown-item" href="javascript:">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <div class="main-search">
                        <div class="input-group">
                            <input type="text" id="m-search" class="form-control" placeholder="Search . . .">
                            <a href="javascript:" class="input-group-append search-close">
                                <i class="feather icon-x input-group-text"></i>
                            </a>
                            <span class="input-group-append search-btn btn btn-primary">
                                <i class="feather icon-search input-group-text"></i>
                            </span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <!-- [ Header ] end -->

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="col">
                                <!-- Right classify -->
                                <% if (Array.isArray(htmlWebpackPlugin.options.right_links)) { %>
                                <% for (item of htmlWebpackPlugin.options.right_links) { %>
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header"><h5><%= item['name'] %></h5></div>
                                            <div class="row">
                                                <div class="col-md-1 col-sm-12">
                                                    <ul class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                                        <% for (var i=0; i<item['classify'].length; i++) { %>
                                                        <li><a class="nav-link text-left <%if(i==0){%>active <%}%>" id="v-pills-home-tab" data-toggle="pill" href="#<%= item['classify'][i]['id'] %>" role="tab" aria-controls="<%= item['classify'][i]['id'] %>" aria-selected="true"><%= item['classify'][i]['name'] %></a></li>
                                                        <% } %>
                                                        <!-- <li><a class="nav-link text-left active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a></li> -->
                                                    </ul>
                                                </div>
                                                <div class="col-md-11 col-sm-12">
                                                    <div class="tab-content" id="v-pills-tabContent">
                                                        <% for(var i=0; i<item['classify'].length; i++) { %>
                                                            <div class="tab-pane fade <%if(i==0){%>show active <%}%>" id="<%= item['classify'][i]['id'] %>" role="tabpanel" aria-labelledby="<%= item['classify'][i]['id'] %>-tab">
                                                                <div class="row">
                                                                <% for (var link of item['classify'][i]['links']) { %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                    <div class="col-md-2">
                                                                        <div class="card">
                                                                            <div class="card-body">
                                                                                <h5 class="card-title"><a href="<%= link['link'] %>" target="_blank" title="<%= link['title'] %>">
                                                                                    <b><%= link['name'] %></b>
                                                                                </a></h5>
                                                                                <p class="card-text"><%= link['description'] %></p>
                                                                            </div>
                                                                            
                                                                        </div>
                                                                    </div>
                                                                <% } %>
                                                                </div>
                                                            </div>
                                                        <% } %>
                                                    </div>
                                                </div>
                                            </div>
                                            <% if (Array.isArray(item['special'])) { %>
                                                <div class="card-footer">
                                                    <% for (special of item['special']) { %>
                                                        <a class="btn btn-light" role="button" href="<%= special['link'] %>" target="_blank" title="<%= special['title'] %>">
                                                            <%= special['name'] %>
                                                        </a>
                                                    <% } %>
                                                </div>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                                <% } %>
                                <!-- End right classify -->
                                <div class="card">
                                    <div class="card-header">
                                        <h5>区块链</h5>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1 col-sm-12">
                                            <ul class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                                <li><a class="nav-link text-left active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a></li>
                                                <li><a class="nav-link text-left" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</a></li>
                                                <li><a class="nav-link text-left" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">MimbleWimble</a></li>
                                                <li><a class="nav-link text-left" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-11 col-sm-12">
                                            <div class="tab-content" id="v-pills-tabContent">
                                                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                                    <button type="button" class="btn btn-primary" title="btn btn-primary" data-toggle="tooltip">Primary</button>
                                                    <button type="button" class="btn btn-primary" title="btn btn-primary" data-toggle="tooltip">Primary</button>
                                                    <button type="button" class="btn btn-primary" title="btn btn-primary" data-toggle="tooltip">Primary</button>
                                                    <button type="button" class="btn btn-primary" title="btn btn-primary" data-toggle="tooltip">Primary</button>
                                                    <button type="button" class="btn btn-primary" title="btn btn-primary" data-toggle="tooltip">Primary</button>
                                                    <button type="button" class="btn btn-primary" title="btn btn-primary" data-toggle="tooltip">Primary</button>
                                                    <button type="button" class="btn btn-primary" title="btn btn-primary" data-toggle="tooltip">Primary</button>
                                                    <button type="button" class="btn btn-primary" title="btn btn-primary" data-toggle="tooltip">Primary</button>
                                                    <button type="button" class="btn btn-primary" title="btn btn-primary" data-toggle="tooltip">Primary</button>
                                                    <button type="button" class="btn btn-primary" title="btn btn-primary" data-toggle="tooltip">Primary</button>
                                                    <button type="button" class="btn btn-primary" title="btn btn-primary" data-toggle="tooltip">Primary</button>
                                                    <button type="button" class="btn btn-primary" title="btn btn-primary" data-toggle="tooltip">Primary</button>
                                                    <button type="button" class="btn btn-primary" title="btn btn-primary" data-toggle="tooltip">Primary</button>
                                                </div>
                                                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                                    <p class="mb-0">Culpa dolor voluptate do laboris laboris irure reprehenderit id incididunt duis pariatur mollit aute magna pariatur consectetur. Eu veniam duis non ut dolor deserunt commodo et minim in quis laboris ipsum velit id veniam. Quis ut consectetur adipisicing officia excepteur non sit. Ut et elit aliquip labore Lorem enim eu. Ullamco mollit occaecat dolore ipsum id officia mollit qui esse anim eiusmod do sint minim consectetur qui.</p>
                                                </div>
                                                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                                                    <p class="mb-0">Fugiat id quis dolor culpa eiusmod anim velit excepteur proident dolor aute qui magna. Ad proident laboris ullamco esse anim Lorem Lorem veniam quis Lorem irure occaecat velit nostrud magna nulla. Velit et et proident Lorem do ea tempor officia dolor. Reprehenderit Lorem aliquip labore est magna commodo est ea veniam consectetur.</p>
                                                </div>
                                                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                                                    <p class="mb-0">Eu dolore ea ullamco dolore Lorem id cupidatat excepteur reprehenderit consectetur elit id dolor proident in cupidatat officia. Voluptate excepteur commodo labore nisi cillum duis aliqua do. Aliqua amet qui mollit consectetur nulla mollit velit aliqua veniam nisi id do Lorem deserunt amet. Culpa ullamco sit adipisicing labore officia magna elit nisi in aute tempor commodo eiusmod.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <button type="button" class="btn btn-primary" title="btn btn-primary" data-toggle="tooltip">Primary</button>
                                            <button type="button" class="btn btn-primary" title="btn btn-primary" data-toggle="tooltip">Primary</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->

    <!-- Warning Section Starts -->
    <!-- Older IE warning message -->
    <!--[if lt IE 11]>
        <div class="ie-warning">
            <h1>Warning!!</h1>
            <p>You are using an outdated version of Internet Explorer, please upgrade
               <br/>to any of the following web browsers to access this website.
            </p>
            <div class="iew-container">
                <ul class="iew-download">
                    <li>
                        <a href="http://www.google.com/chrome/">
                            <img src="assets/images/browser/chrome.png" alt="Chrome">
                            <div>Chrome</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.mozilla.org/en-US/firefox/new/">
                            <img src="assets/images/browser/firefox.png" alt="Firefox">
                            <div>Firefox</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.opera.com">
                            <img src="assets/images/browser/opera.png" alt="Opera">
                            <div>Opera</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.apple.com/safari/">
                            <img src="assets/images/browser/safari.png" alt="Safari">
                            <div>Safari</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                            <img src="assets/images/browser/ie.png" alt="">
                            <div>IE (11 & above)</div>
                        </a>
                    </li>
                </ul>
            </div>
            <p>Sorry for the inconvenience!</p>
        </div>
    <![endif]-->
    <!-- Warning Section Ends -->

    <!-- Required Js -->
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>

</body>
</html>